API_GATEWAY_PORT=3010

ORDERS_DB_USER=postgres
ORDERS_DB_PASSWORD=123456
ORDERS_DB_NAME=orders_db


# -------- Payments microservice configuration --------
PAYMENTS_MS_PORT=3005
# ----- Stripe configuration ------
STRIPE_SECRET_KEY=
# Signature for webhook verification
STRIPE_SECRET_SIGNATURE=
STRIPE_SUCCESS_URL=http://localhost:3005/payments/success
STRIPE_CANCEL_URL=http://localhost:3005/payments/cancel
PAYMENTS_MS_URL=http://localhost:3005