[submodule "api-gateway"]
	path = api-gateway
	url = https://github.com/nest-microservices-briansleonel/api-gateway.git
[submodule "products-ms"]
	path = products-ms
	url = https://github.com/nest-microservices-briansleonel/products-ms.git
